<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Your Property Aggregator</h1>
      <p class="lead">Add and Create Real Estate Listings for your convenience</p>
    </div>
  </div>

  <div class="container px-1">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My Listings</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a routerLink = "listings" class="btn btn-primary">Listings</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My Requirements</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a routerLink = "requirements" class="btn btn-primary">Requirements</a>
            </div>
          </div>
        </div>
      </div>
  </div>
 